html,
body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Panel Defaults */
.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#7b7d7d;

  position: relative;
  box-sizing: border-box;

  padding: 3em;
}

.one {
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/EngravingLucifer1654.jpg/800px-EngravingLucifer1654.jpg)
  
}
p {
  background-color: #cdcdcd;
  justify-content: space-evenly;
}
h1 {
  background-color: #cdcdcd;
  justify-content: space-evenly;
  align-content: center;
}
li{
  background-color: #cdcdcd;
  justify-content: space-evenly;
  align-content: center;
}

.two {
  background: url(https://upload.wikimedia.org/wikipedia/commons/4/46/Perun_Gromoverzhecz_by_Andrey_Shishkin.jpg
  );
}

.three {
  background: url(https://upload.wikimedia.org/wikipedia/commons/3/36/Indra_deva.jpg);
}

.four {
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/98/Hokusai_%281834–49%29_God_of_Thunder.jpg);
  background-position-y: center;
  background-position-x: 40cm ;
  background-size: contain;
}

.five {
  background: url(https://upload.wikimedia.org/wikipedia/commons/e/ed/Shelfcloud.jpg);
}

.one h1 {
  
}

.six {
/*   transform: translateX(-500px) */
}